.contact-container {
	width: 80%;
	margin: 0 auto;
	padding: 7rem 0;
    display: flex;
    justify-content: space-around;
	 align-items: center;
}

.text-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40%;
	border: solid 3px var(--lightgray);
	padding: 6rem;
	border-radius: 20px;
	box-shadow: 0 0 15px gray;
}

.form-section {
	width: 40%;
}


.text-section > p {
	text-align: center;
}

.text-section > .link-button {
	margin-bottom: 3rem;
}


/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Pantallas Grandes */
@media (max-width: 2000px) and (min-width: 1440px) {
	.contact-container {
		padding: 5rem 0;
		justify-content: space-around;
	}
	
	.text-section {
		padding: 6rem 4rem;
	}
	
	.form-section {
		width: 40%;
	}
	
	.text-section > .link-button {
		margin-bottom: 3rem;
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {
	.contact-container {
		padding: 5rem 0;
		justify-content: space-between;
	}
	
	.text-section {
		width: 45%;
		padding: 4rem 3rem;
	}
	
	.form-section {
		width: 45%;
	}
	
	.text-section > .link-button {
		margin-bottom: 3rem;
	}
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 768px) {
	.contact-container {
		width: 90%;
		padding: 5rem 0;
		justify-content: space-between;
	}
	
	.text-section {
		width: 48%;
		padding: 3rem 1rem;
	}
	
	.form-section {
		width: 48%;
	}
	
	.text-section > .link-button {
		margin-bottom: 2rem;
	}
}


/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Móviles */
@media (max-width: 767px) {
	.contact-container {
		width: 95%;
		padding: 2rem 0;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
	}
	
	.text-section {
		width: 100%;
		padding: 3rem 1rem;
	}
	
	.form-section {
		width: 100%;
	}
	
	.text-section > .link-button {
		margin-bottom: 2rem;
	}
}
