:root {
	--darkgray: #422211;
	--pink: #d98e88;
	--beige: #edd7bf;
	--lightpink: #fcf2e8;
	--lightgray: #ffffff;
	--orange: #fec936;
	--darkorange: #68531a;
	--shadowcolor: #e4a7e4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
	font-size: 62.5%;
	height: auto;
}

body {

	min-height: 100vh;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	color: var(--darkgray);
	background: linear-gradient(
		to bottom,
		var(--lightpink),
		var(--lightpink),
		var(--lightpink),
		var(--pink)
	);
	font-family: "red hat display", Arial, Helvetica, sans-serif;
  font-display: swap;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 7rem 0;
}

em {
	font-style: normal; /* Eliminar el estilo itálico */
	background-color: var(--pink);
	color: white; /* Resaltar con color, por ejemplo */
	padding: 0 .5rem;
	border-radius: 5px;
}

a {
  text-decoration: none;
}
  

h1 {
	font-size: 3.3rem;
	color: var(--pink);
	font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-display: swap;
	margin-bottom: 1rem;
  width: 100%;
}

h2 {
	font-size: 3rem;
	color: var(--darkgray);
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	text-align: center;
}

h4 {
	font-size: 2.6rem;
	color: var(--pink);
	font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-display: swap;
	margin-bottom: 1.5rem;
}

p {
	font-size: 2.4rem;
	color: var(--darkgray);
	text-align: left;
	letter-spacing: .5px;
	line-height: 4rem;
	margin-bottom: 3rem;
  font-display: swap;
}

label {
  font-size: 1.6rem;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
  font-family: 'Red Hat Display', sans-serif;
  font-display: swap;
  font-size: 2.2rem;
  width: 100%;
  text-align: left;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: solid 1px transparent;
  transition: all 400ms;
}

textarea {
  font-family: 'Red Hat Display', sans-serif;
  font-display: swap;
	font-size: 2.2rem;
	text-align: left;
	padding: 1rem 2rem;
	border-radius: 1rem;
	border: solid 1px transparent;
	transition: all 400ms;
	height: 25rem;
	width: 100%;
  }

input[type="text"]:hover,  input[type="email"]:hover, input[type="password"]:hover, textarea:hover {
	cursor: pointer;
  box-shadow: 0 0 15px lightgray;
}

input[type="text"]:focus,  input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
	box-shadow: 0 0 10px 5px lightpink;
	color: var(--pink);
	outline: none;
}

input[type="submit"] {
  font-size: 2.2rem;
  font-weight: 200;
  padding: 1.2rem 1.3rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--pink);
  color:  var(--lightgray);
  transition: all 300ms;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: var(--darkgray);
}

.link-button {
	font-size: 2.4rem;
	font-weight: 400;
	padding: 1rem 2.5rem;
	border-radius: 10px;
	background-color: var(--pink);
	color:  var(--lightgray);
	transition: all 300ms;
  text-align: center;
  width: auto;
}

.link-button:hover {
	cursor: pointer;
	background-color: var(--darkgray);
}


form {
  width: fit-content;
  text-align: center;
}

.bsp {
	box-shadow: 3px -3px 10px gray;
}

.link {
	color: var(--pink);
	font-weight: 600;
	transition: all 300ms ease-in-out;
	text-shadow: 0 0 2px rgb(255, 255, 255);
}

.link:hover {
	color: var(--darkgray);
}


/* --------------------------------------------------------------------------- */
/* Estilos para Pantallas Grandes */
@media (max-width: 2000px) and (min-width: 1440px) {
	.container {
		width: 80%;
		padding: 5rem 0;
	}
	
	h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	
	h2 {
		font-size: 2.2rem;
	}

	h4 {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	
	p {
		font-size: 1.6rem;
		line-height: 3rem;
		margin-bottom: 2rem;
	}
	
	label {
	 display: none;
	}
	
	input[type="text"], input[type="email"] {
	  font-size: 1.4rem;
	}
	
	textarea {
		font-size: 1.4rem;
		height: 20rem;
	}

	input[type="submit"] {
	  font-size: 1.4rem;
	}


	.link-button {
		font-size: 1.6rem;
		padding: .7rem 1.5rem;
	}
	
	form {
	  display: flex;
	  width: fit-content;
	  text-align: center;
	}
	
}



/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Laptops */
@media (max-width: 1439px) and (min-width: 1024px) {

	.container {
		width: 100%;
		padding: 3rem;
	}
	
	h1 {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	
	h2 {
		font-size: 2rem;
	}

	h4 {
	font-size: 1.7rem;
	margin-bottom: 0rem;
}
	
	p {
		font-size: 1.4rem;
		line-height: 2.6rem;
		margin-bottom: 2rem;
	}
	
	label {
	 display: none;
	}
	
	input[type="text"], input[type="email"] {
	  font-size: 1.3rem;
	}
	
	textarea {
		font-size: 1.3rem;
		height: 15rem;
	}
	
	input[type="submit"] {
	  font-size: 1.3rem;
	}

	.link-button {
		font-size: 1.4rem;
		padding: .7rem 1.5rem;
		border-radius: 6px;
	}
	
	form {
	  display: flex;
	  width: fit-content;
	  text-align: center;
	}
	
}

/* ---------------------------------------------------------------------------------------------------*/
/* Estilos para Tablets */
@media (max-width: 1023px) and (min-width: 768px) {
  .container {
		width: 100%;
		padding: 3rem;
	}
	
	h1 {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	
	h2 {
		font-size: 2rem;
	}

	h4 {
	font-size: 1.7rem;
	margin-bottom: 0rem;
}
	
	p {
		font-size: 1.4rem;
		line-height: 2.6rem;
		margin-bottom: 2rem;
	}
	
	label {
	 display: none;
	}
	
	input[type="text"], input[type="email"] {
	  font-size: 1.3rem;
	}
	
	textarea {
		font-size: 1.3rem;
		height: 15rem;
    border-radius: 1rem;
	}
	
	input[type="submit"] {
	  font-size: 1.3rem;
	}

	.link-button {
		font-size: 1.4rem;
		padding: .7rem 1.5rem;
		border-radius: 6px;
	}
	
	form {
	  display: flex;
	  width: fit-content;
	  text-align: center;
	}
}

/* --------------------------------------------------------------------------- */
/* Estilos para Móviles */
@media (max-width:600px) {

	.container {
		width: 100%;
		padding: 2rem;
	}
	
	h1 {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	
	h2 {
		font-size: 1.7rem;

	}

	h4 {
		font-size: 1.7rem;
		margin-bottom: 0rem;
	}
	
	p {
		font-size: 1.4rem;
		line-height: 2.3rem;
		margin-bottom: 2rem;	
	}
	
	label {
		display: none;
	}
	
	input[type="text"], input[type="email"] {
	  font-size: 1.3rem;
	  padding: 1rem;
	  transition: all 400ms;
	}

	textarea {
		font-size: 1.3rem;
		height: 15rem;
    padding: 1rem;
	}
	
	input[type="submit"] {
	  font-size: 1.4rem;
	  padding: 1rem 1.3rem;
	  background-color: var(--pink);
	  color:  white;
	  transition: all 500ms;
	}
	
	.link-button {
		font-size: 1.4rem;
		padding: .7rem 1.5rem;
		border-radius: 5px;
	}
	
	form {
	  display: flex;
	  width: fit-content;
	  text-align: center;
	}
	
}
